<launch>

	<!-- SET ROS PARAMETERS -->
	<!-- Can be changed within variable_setup.launch -->
	<include file="$(find rf_communication)/launch/variable_setup.launch"/>

	<!-- RUN RFSniffer to receive messages -->
	<node pkg="rf_communication" type="RFSniffer" name="RFSniffer" launch-prefix="gnome-terminal --command"/>
	
	<!-- RUN comms_data_eval.py to collect the data -->
	<node pkg="rf_communication" name="comms_data_eval" type="comms_data_eval.py" output="screen" launch-prefix="gnome-terminal --command" />

</launch>
